*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5%; 

}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem; 



}
header{
    background-color: #24252a;
    color: white;
    padding: 1.6rem;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 3rem;
}
ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
ul li{
    padding: 1rem;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    opacity: 0.7;
}
.button{
    display: inline-block;
    background-color: rgb(54, 220, 165);
    display: flex;
    align-items: center;
    padding: 0.4rem;
    border-radius: 0.3rem;
}
.Conteiner{
    background-color: #f9f8f8;
    box-shadow: 0.125rem 0.125rem 0.313rem #e0e0e0;
    width: 68rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15rem 10rem;
    margin: 0 auto;
    margin-top: 5rem;
    border-radius: 1.50rem;
    max-width: 90%;
}
h1{
    text-align: center;
    margin-top: 8rem;
}
form{
    gap: 1rem;
   
}
input{
    padding: 0.67rem 2.5rem;
    border-radius: 0.3rem;
    font-family: 'Poppins', sans-serif;
    border: 1px solid rgb(183, 179, 179);


}
button{
    padding: 0.67rem 1.3rem;
    border-radius: 0.3rem;
    border: none;
    background-color: rgb(54, 220, 165);
    color: white;
    font-family: 'Poppins', sans-serif;



}
button:hover{
    opacity: 0.7;

}
p{
    text-align: center;
    margin-top: 8rem;
}
.name{
    color: black;
}

@media (max-width: 999px) {
    button{
        margin-top: 2rem;
    }
    
}